.searchResults {
    width: 700px;
    max-width: 80vw;
    min-height: 120px;
    max-height: 60vh;
    overflow-y: auto;

    mark {
        background-color: unset;
        color: var(--textColor-heading);
        font-weight: bold;
        padding: 0;
    }
}

.documentIcon {
    svg {
        width: 24px;
        height: 24px;
    }
}

.snippet {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
}
